html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 200;
}

h1 {
  margin-top: 5rem;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
  font-style: bold;
}

img {
  position: relative;
  padding-top: 58px;
  max-width: 100%;
  min-width: 100%;
  text-align: center;
  display: block;
  max-width: 100%;
  height: auto;
}

.highlight {
  font-weight: bolder;
  color: white;
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(to right,
      rgba(255, 0, 204, 0.1),
      #ff00884e 4%,
      rgba(255, 0, 157, 0.097));
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.link-w {
  color: white !important;
  text-decoration: underline !important;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.link-w:hover {
  transition: 0.5s;
  background-color: #ff00884e;
}

footer {
  display: none;
  color: white;
  width: 100%;
}

footer p {
  margin: 0;
  line-height: 1.25;
  padding-bottom: 8px;
}

@media(max-width: 598px) {

  h1,
  h2,
  h3,
  p {
    padding: 5%;
  }

  .header-img {
    width: auto;
    height: 50vh;
    object-fit: cover;
  }
}

@media(min-width: 768px) {
  html {
    height: 100;
  }

  footer {
    display: block;
    bottom: 0;
    right: 0;
  }
}

@media(min-width:992px) {
  footer {
    display: block;
    bottom: 0;
    right: 0;
  }

}

@media(min-width:1200px) {
  footer {
    display: block;
    bottom: 0;
    right: 0;
  }
}